.title {
    text-align: center;
}

.add-contact-button-container {
    display: flex;
    justify-content: end;
    margin-bottom: 1%;
}

.contacts-container {
    margin: auto 10%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}